{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-partnerspage{% endblock %}

{% block content %}
{% include "home/includes/header.html" %}

<main class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title }}</h1>

            {% if page.intro %}
            <div class="intro lead mb-4">
                {{ page.intro|richtext }}
            </div>
            {% endif %}

            <div class="partners-list row">
                {% for block in page.content %}
                {% if block.block_type == 'partner' %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if block.value.logo %}
                        {% image block.value.logo width-200 class="card-img-top" %}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ block.value.name }}</h5>
                            {% if block.value.description %}
                            <p class="card-text">{{ block.value.description }}</p>
                            {% endif %}
                            {% if block.value.website %}
                            <a href="{{ block.value.website }}" target="_blank" class="btn btn-sm btn-outline-primary">
                                Перейти на сайт
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% elif block.block_type == 'heading' %}
                <div class="col-12">
                    <h2>{{ block.value }}</h2>
                </div>
                {% elif block.block_type == 'paragraph' %}
                <div class="col-12">
                    {{ block.value|richtext }}
                </div>
                {% elif block.block_type == 'image' %}
                <div class="col-12 mb-4">
                    {% image block.value width-800 class="img-fluid rounded" %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% include "home/includes/footer.html" %}
{% endblock %}